<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- JDBC Database connection settings -->
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://ec2-63-33-14-215.eu-west-1.compute.amazonaws.com/d2n0g44s6qask4</property>
        <property name="connection.username">zuwpoywbxvaqfm</property>
        <property name="connection.password">9d776c78a0db40fc33d416beaf8bc9056174218965fcdcc9a172e5c9d1755acb</property>

        <!-- JDBC connection pool settings ... using built-in test pool -->
        <property name="connection.pool_size">1</property>

        <!-- Select our SQL dialect -->
        <property name="dialect">org.hibernate.dialect.PostgreSQL82Dialect</property>

        <!-- Echo the SQL to stdout -->
        <property name="show_sql">true</property>

        <!-- Set the current session context -->
        <property name="current_session_context_class">thread</property>

        <!-- Drop and re-create the database schema on startup -->
<!--        <property name="hbm2ddl.auto">create</property>-->

        <!-- dbcp connection pool configuration -->
        <property name="hibernate.dbcp.initialSize">5</property>
        <property name="hibernate.dbcp.maxTotal">20</property>
        <property name="hibernate.dbcp.maxIdle">10</property>
        <property name="hibernate.dbcp.minIdle">5</property>
        <property name="hibernate.dbcp.maxWaitMillis">-1</property>

        <mapping class="ua.lysenko.entity.Call"/>
        <mapping class="ua.lysenko.entity.Cellphone"/>
        <mapping class="ua.lysenko.entity.Gadget"/>
        <mapping class="ua.lysenko.entity.Message"/>
        <mapping class="ua.lysenko.entity.Tariff"/>
        <mapping class="ua.lysenko.entity.User"/>
        <mapping class="ua.lysenko.entity.WebSession"/>

    </session-factory>

</hibernate-configuration>
